.btn {
  padding: 1em 2.12em;
  background-color: #e8e1d8;
  border-radius: 20px;
  transition:
    background-color 0.3s ease,
    transform 0.1s ease;
  text-align: center;
  font-size: 1.19em;
  font-weight: 700;
  line-height: 1;
}

.btn:hover {
  background-color: white;
}

.btn:active {
  scale: 0.95;
}
