.visit {
  background-color: #e8e1d8;
}

.visit__additional-needs-container {
  padding: 10vw;
}

.visit__card-btn,
.visit__card-btn-alternate {
  border-radius: 50px;
  font-size: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 700;
  line-height: 1;
  position: absolute;
}

.visit__card-btn {
  background-color: black;
  color: white;
}

.visit__card-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.visit__card-btn-alternate {
  background-color: white;
  color: black;
  border: 1px solid black;
  left: 200px;
}

.visit__card-btn-alternate:hover {
  background-color: black;
  color: white;
  border: 0;
}

.visit__additional-needs-pic {
  margin-left: 80px;
  margin-top: 200px;
}

@media (max-width: 768px) {
  .visit__card-btn,
  .visit__card-btn-alternate {
    left: 0;
    position: relative;
    margin-top: 20px;
  }
  .visit__additional-needs-pic {
    margin: 0;
  }
}
