.main {
}

.main__hero-vid-container {
  border-radius: 20px;
  height: 70vh;
  margin: 40px 120px;
  overflow: hidden;
}

.main__hero-vid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 160px 0 100px;
  transform: translateY(-60px);
  background-color: #e8e1d8;
  border-radius: 0 0 50px 50px;
}

.main__form-subtitle {
  font-family: "Cormorant Garamond";
  font-size: 1.25rem;
  line-height: 1.75rem;
  opacity: 0.75;
}

.main__form-title {
  font-size: 4rem;
  line-height: 1;
}

.main__form-description {
  font-size: 1.5rem;
  line-height: 1.75rem;
}
