.glass {
  background: rgba(255, 255, 255, 0.205);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.1),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0.3px 0.5px rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  position: fixed;
  z-index: 10;
  font-size: 1.19em;
  font-family: "Darker Grotesque";
}

.header_open {
  z-index: 13;
}

.header__logo-container {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__transition {
  position: absolute;
  min-width: 125px;
  height: 60px;
  border-radius: 30px;
  top: 50px;
  right: 40px;
  background-color: #e8e1d8;
  opacity: 0;
  transition:
    opacity 0.2s,
    scale 1s ease;
  scale: 1;
  pointer-events: none;
}

.header__transition_open {
  opacity: 1;
  scale: 30;
}

.header__menu-container {
  position: absolute;
  min-width: 125px;
  height: 60px;
  border-radius: 30px;
  top: 50px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  transition: all 0.5s ease;
}

.header__menu-container:hover {
  background-color: rgba(0, 0, 0, 0.205);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.3),
    inset 0 0 0.3px 0.5px rgba(255, 255, 255, 0.3);
  transform: translateY(-5px);
}

.header__menu-container:active {
  transform: translateY(-3px);
  scale: 0.95;
}

.header__logo-container_open {
  opacity: 0;
}

.header__menu-text-container {
  position: relative;
  font-weight: 700;
  overflow: hidden;
  min-width: 50px;
}

.header__menu-text-container_open .header__menu-text-menu {
  transform: translateY(-30px);
}

.header__menu-text-container_open .header__menu-text-close {
  transform: translateY(0);
}

.header__menu-text-menu {
  transition: transform 0.3s ease;
  font-weight: 500;
}

.header__menu-text-close {
  transition: transform 0.3s ease;
  font-weight: 500;
  position: absolute;
  top: 0;
  transform: translateY(30px);
}

.header__menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
  gap: 7px;
  border-radius: 5px;
  width: 37px;
  transition: box-shadow 0.3s ease;
}

.header__menu-btn_open :nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.header__menu-btn_open :nth-child(2) {
  opacity: 0;
}

.header__menu-btn_open :nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.header__menu-btn-line {
  width: 23px;
  height: 2px;
  background-color: black;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.header__spacer {
  height: 100px;
  display: block;
}

.header__open-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 11;
  display: grid;
  grid-column-gap: 3.97em;
  grid-row-gap: 0em;
  grid-template-columns: 56vw 37vw;
  grid-template-rows: 100vh;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  pointer-events: none;
  background-color: #00000000;
  transition: background-color 0.1s ease;
}

.header__open-container_open {
  background-color: #e8e1d8;
  pointer-events: all;
}

.header__open-container_opening {
  z-index: 15;
}

.header__open-container_closing {
  background-color: #00000000;
  pointer-events: none;
  z-index: 15;
  transition: background-color 0.4s ease;
}

.header__open-divider {
  width: 3px;
  height: 0;
  background-color: black;
  display: block;
  margin-left: auto;
  transition: all 0.6s ease 0.3s;
}

.header__open-container_opening .header__open-divider,
.header__open-container_open .header__open-divider {
  height: 100%;
}
