.glass {
  background: rgba(255, 255, 255, 0.205);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.1),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0.3px 0.5px rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  position: fixed;
  font-size: 1.19em;
  font-family: "Darker Grotesque";
  z-index: 3;
}

.header_open {
  z-index: 13;
}

.header__logo-container {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: auto;
  opacity: 1;
  text-align: center;
  font-weight: 700;
  transition:
    opacity 0.4s ease,
    box-shadow 0.5s ease,
    transform 0.5s ease;
}

.header__logo-container:hover {
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.3),
    inset 0 0 0.3px 0.5px rgba(255, 255, 255, 0.3);
  transform: translateY(-5px);
}

.header__logo-container_open {
  opacity: 0;
  pointer-events: none;
}

.header__menu-container {
  position: fixed;
  min-width: 125px;
  height: 60px;
  border-radius: 30px;
  top: 50px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  transition: all 0.5s ease;
  z-index: 7;
}

.header__menu-container:hover {
  background-color: rgba(0, 0, 0, 0.205);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.3),
    inset 0 0 0.3px 0.5px rgba(255, 255, 255, 0.3);
  transform: translateY(-5px);
}

.header__menu-container:active {
  transform: translateY(-3px);
  scale: 0.95;
}

.header__menu-text-container {
  position: relative;
  font-weight: 700;
  overflow: hidden;
  min-width: 50px;
}

.header__menu-text-container_open .header__menu-text-menu {
  transform: translateY(-30px);
}

.header__menu-text-container_open .header__menu-text-close {
  transform: translateY(0);
}

.header__menu-text-menu {
  transition: transform 0.3s ease;
  font-weight: 700;
}

.header__menu-text-close {
  transition: transform 0.3s ease;
  font-weight: 700;
  position: absolute;
  top: 0;
  transform: translateY(30px);
}

.header__menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
  gap: 7px;
  border-radius: 5px;
  width: 37px;
  transition: box-shadow 0.3s ease;
}

.header__menu-btn_open .header__menu-btn-line:nth-child(1) {
  animation: topLineOpen 0.3s forwards;
}

.header__menu-btn_open .header__menu-btn-line:nth-child(2) {
  opacity: 0;
}

.header__menu-btn_open .header__menu-btn-line:nth-child(3) {
  animation: bottomLineOpen 0.3s forwards;
}

.header__menu-btn_closing .header__menu-btn-line:nth-child(1) {
  animation: topLineClose 0.3s forwards;
}

.header__menu-btn_closing .header__menu-btn-line:nth-child(2) {
  animation: middleLineClose 0.3s forwards;
}

.header__menu-btn_closing .header__menu-btn-line:nth-child(3) {
  animation: bottomLineClose 0.3s forwards;
}

.header__menu-btn-line {
  width: 23px;
  height: 2px;
  background-color: black;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

@keyframes topLineClose {
  0% {
    transform: translateY(9px) rotate(45deg);
  }

  50% {
    transform: translateY(9px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes bottomLineClose {
  0% {
    transform: translateY(-9px) rotate(-45deg);
  }

  50% {
    transform: translateY(-9px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes middleLineClose {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes topLineOpen {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(9px) rotate(0);
  }

  100% {
    transform: translateY(9px) rotate(45deg);
  }
}

@keyframes bottomLineOpen {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-9px) rotate(0);
  }

  100% {
    transform: translateY(-9px) rotate(-45deg);
  }
}

.header__spacer {
  height: 100px;
  display: block;
}

.header__open-background {
  min-width: 125px;
  height: 60px;
  border-radius: 30px;
  position: fixed;
  top: 50px;
  right: 40px;
  background-color: #e8e1d8;
  transition:
    transform 0.6s ease,
    background-color 0.2s ease;
  opacity: 0;
  z-index: 6;
}

.header__open-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  display: grid;
  grid-column-gap: 3.97em;
  grid-row-gap: 0em;
  grid-template-columns: 56vw 37vw;
  grid-template-rows: 100vh;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  background-color: #00000000;
  pointer-events: none;
  z-index: 6;
  opacity: 0;
}

.header__open-container_opening {
  pointer-events: none;
  opacity: 1;
}

.header__open-container_open {
  pointer-events: none;
  opacity: 1;
}

.header__open-container_closing {
  pointer-events: none;
  opacity: 1;
}

.header__open-border {
  background-color: black;
  display: block;
  margin-left: auto;
  width: 3px;
  height: 0;
  transition: height 0.5s ease;
}

.header__open-container_opening .header__open-border,
.header__open-container_open .header__open-border {
  height: 100%;
}

.header__open-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 6.02em 5.75em 2.65em 0;
  pointer-events: none;
}

.header__open-left {
  pointer-events: none;
  display: flex;
}

.header__open-links-container {
  display: flex;
  flex-direction: column;
  padding: 6.02em 0 0 20px;
}

.header__open-link-wrapper {
  overflow: hidden;
}

.header__open-link {
  display: block;
  white-space: nowrap;
  letter-spacing: 0.2px;
  margin-top: -0.3em;
  font-size: 7.8vw;
  font-weight: 700;
  line-height: 1.14;
  padding: 0 30px;
  position: relative;
  transform: translateY(100%);
  width: fit-content;
  transition:
    padding-left 0.3s ease,
    transform 0.4s ease;
}

.header__open-container_open .header__open-link,
.header__open-container_opening .header__open-link {
  transform: translateY(0);
}

.header__open-link::after {
  content: "";
  width: 0;
  height: 0;
  background-color: black;
  display: block;
  position: absolute;
  bottom: 0;
  transition: width 0.5s ease;
}

.header__open-link:hover,
.header__open-link.active {
  padding-left: 60px;
}

.header__open-link:hover::after,
.header__open-link.active::after {
  width: calc(100% - 90px);
  height: 0.5vw;
  border-radius: 20px;
}

.header__open-link.active {
  color: white;
}

.header__open-link.active::after {
  background-color: white;
}

.header__open-container_open .header__open-right,
.header__open-container_opening .header__open-right,
.header__open-container_open .header__open-left,
.header__open-container_opening .header__open-left {
  pointer-events: auto;
}

.header__open-info-container,
.header__open-links-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 80px);
}

.header__open-info-line-wrapper {
  overflow: hidden;
}

.header__open-links-line-wrapper {
  overflow: hidden;
  padding: 5px 15px;
}

.header__open-info-line,
.header__open-links-line {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.32;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.header__open-links-line {
  width: fit-content;
  position: relative;
}

.header__open-container_open .header__open-info-line,
.header__open-container_opening .header__open-info-line {
  transform: translateY(0);
}

.header__open-container_open .header__open-links-line,
.header__open-container_opening .header__open-links-line {
  transform: translateY(0);
}

.header__open-links-link::after {
  content: "";
  width: 0.35em;
  height: 0.35em;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(-50%, -50%);
  scale: 0;

  transition:
    scale 0.3s cubic-bezier(0.31, 1.02, 0.58, 1),
    width 0.3s cubic-bezier(0.31, 1.02, 0.58, 1) 0.4s,
    height 0.3s cubic-bezier(0.31, 1.02, 0.58, 1) 0.4s,
    border-radius 0.3s cubic-bezier(0.31, 1.02, 0.58, 1) 0.4s,
    background-color 0.3s cubic-bezier(0.31, 1.02, 0.58, 1) 0.4s,
    border-color 0.3s cubic-bezier(0.31, 1.02, 0.58, 1) 0.4s,
    left 0.3s cubic-bezier(0.31, 1.02, 0.58, 1) 0.4s;
}

.header__open-links-link:hover::after {
  scale: 1;
  width: 130%;
  height: 110%;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid black;
  left: 50%;
}

@media (max-width: 768px) {
  .header__open-background,
  .header__menu-container {
    top: 30px;
    right: 30px;
  }
  .header__logo-container {
    top: 20px;
    left: 20px;
  }
  .header__open-right {
    padding: 6vw;
  }
  .header__open-container {
    display: flex;
    flex-direction: column;
  }
  .header__open-link {
    font-size: 12vw;
  }
  .header__open-info-container,
  .header__open-links-container {
    margin-top: 10px;
    width: 100%;
    padding: 0 60px 0 20px;
  }
}

@media (max-height: 425px) {
  .header__open-right {
    padding: 2vw 6vw 6vw 6vw;
  }
  .header__open-link {
    font-size: 6vw;
  }
}

.header__open-links-container-small {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.header__open-links-small {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid black;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

.header__open-container_open .header__open-links-small,
.header__open-container_opening .header__open-links-small {
  transform: translateY(0);
}
